@model TomasOntaneda_TallerClase.Models.Equipo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿De verdad quieres eliminar esto?</h3>
<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AceptaExtranjeros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AceptaExtranjeros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estadio.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
