@model IEnumerable<TomasOntaneda_TallerClase.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AceptaExtranjeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AceptaExtranjeros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadio.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
